# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}

    env:
      COMPOSE_FILE: docker/docker-compose.yml
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: environment.yaml
        channels: conda-forge
        activate-environment: sqla-heavyai
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: start heavydb service
      run: docker-compose --file docker/docker-compose.yaml up -d heavydb

    - name: wait for heavydb service
      run: docker-compose --file docker/docker-compose.yaml up waiter

    - name: install dependencies
      run: |
        python -m pip install -e .

    - name: show environment
      run: conda list

    - name: run tests
      run: make run-tests

  lint:
    name: Lint
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:

    - name: checkout
      uses: actions/checkout@v3

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: environment.yaml
        channels: conda-forge
        activate-environment: sqla-omnisci
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: install dependencies
      run: |
        python -m pip install -e .
        pre-commit install

    - name: show environment
      run: conda list

    - name: pre-commit check
      run: pre-commit run --all-files
